<div class="page-container">

  <h1>Our Market Place</h1>

  <h2>Offer</h2>

  <table>
    <tr>
      <th>Product </th>
      <th>Description</th>
      <th>Author</th>
      <th>Delete</th>
    </tr>
    {{#if products}}
    {{#each products}}
    {{#if isOffer}}
    <tr>
      <td>{{productName}}</td>
      <td>{{description}}</td>
      <td>{{author.username}}</td>
      <td><a href="/new-product/delete/{{_id}}">Delete Product</a></td>
    </tr>
    {{/if}}
    {{/each}}
    {{/if}}
  </table>



  <button class="mainButton actButton"><a href="/new-product">New Offer</a></button>

  <h2>Request</h2>

  <table>
    <tr>
      <th>Product </th>
      <th>Description</th>
      <th>Author</th>
      <th>Delete</th>
    </tr>
    {{#if products}}
    {{#each products}}
    {{#unless isOffer}}
    <tr>
      <td>{{productName}}</td>
      <td>{{description}}</td>
      <td>{{author.username}}</td>
      <td><a href="/new-request/delete/{{_id}}">Delete Request</a></td>
    </tr>
    {{/unless}}
    {{/each}}
    {{/if}}
  </table>



  <button class="mainButton actButton"><a href="/new-request">New Request</a></button>






</div>